# Gemini API Key
# Get your API key from: https://makersuite.google.com/app/apikey
#VITE_GEMINI_API_KEY=AIzaSyCjEoX07hjL1I40ZaRDHHcUvnkQouhjljI
VITE_GEMINI_API_KEY=AIzaSyDHBvrcnNRfC9fliJ6taqXCZmeiOoh5cd8
